{% extends 'base.html' %}
{% load static %}

{% block slide %}
{% endblock slide %}

{% block contenido %}
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ object.titulo }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">{{object.fecha}}</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'category' object.categoria.pk %}">
                        {{ object.categoria }}
                    </a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{ object.imagen.url }}" alt="..." /></figure>
                <!-- Post content-->
                <section >
                    <br>
                    {{ object.texto|safe }}
                    <br><br>
                </section>
            </article>
            
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form class="mb-4"><h3>Deja tu comentario!</h3>
                            <h4><a href= "{% url 'add_comment' noticia.pk %}">Comentar</a></h4>
                        </form>
                        <!-- Comment with nested comments-->
                        {% if not noticia.comments.all %}
                            No hay comentarios, se el primero!
                        {% else %}
                            {% for comment in noticia.comments.all %} 
                        <div class="d-flex mb-4">  
                            <!-- Parent comment-->
                            {% if user.id == comment.usuario.id %}
                            <div><img src="{{ user.imagen.url  }}" width="80" height="70"></div>
                            {% endif %}
                            <div class="ms-3">{{ comment.fecha }}
                                <div class="fw-bold">{{comment.usuario}}</div>
                                {{ comment.comentario }}
                                <!-- Edit -->
                                {% if user.is_authenticated %}
                                    {% if user.id == comment.usuario.id %}
                                        <a href="{% url 'update_comment' comment.pk %}" class=" far fa-edit">Editar</a>
                                    {% endif %}
                                    {% if user.id == noticia.usuario.id or user.is_staff or user.id == comment.usuario.id %}  
                                        <a href="{% url 'delete_comment' comment.pk  %}" class="fa fa-trash text-danger">Eliminar</a>
                                    {% endif %}   
                                {% endif %}
                            </div>
                        </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
{% endblock contenido %}