{% extends 'base.html' %}
{% load static %}

{% block slide %}
<div id="CarouselWithControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
  {% if imagenes %}
  {% for item in imagenes %}
      {% if forloop.first %}
        <div class="carousel-item {% if forloop.first %} active {% endif %}">
          
          <img src="{{ item.imagen.url }}" class="d-block w-100">
          
        </div>
      {% else %}
        <div class="carousel-item {% if  forloop.first %} active {% endif %}">
          
          <img src="{{ item.imagen.url }}" class="d-block w-100">
          
        </div>
      {% endif %}
  <a class="carousel-control-prev" href="#CarouselWithControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#CarouselWithControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  {% endfor %}
  {% else %}
  <div class="carousel-item active">
    <img class="d-block w-100" src="{% static 'img/default.jpg' %}" alt="First slide">
  </div>
  {% endif %}
  </div>
  </div>
<hr class="mb-4">                          
{% endblock slide %}

{% block contenido %}

        <!-- Blog entries-->
        <div class="col-lg-8">
            
            {% for post in last_post %}
            <!-- Featured blog post-->
            <div class="card mb-4">
                <a><img class="card-img-top" src="{{post.imagen.url}}" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">
                        <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'category' post.categoria.pk %}">
                            {{ post.categoria }}
                        </a> &nbsp;
                        {{ post.fecha }}  
                    </div>
                    <h2 class="card-title">{{ post.titulo }}</h2>
                    <p class="card-text">{{ post.resumen }}</p>
                    <a class="btn btn-primary" href="{{ post.get_absolute_url }}">Leer más</a>&nbsp;
                    {% if user.is_authenticated %}
                            {% if user.is_superuser %}
                                <small><a href="{% url 'editar' post.pk %}" style="color:red ;">Editar</a></small>
                            {% endif %}
                    {% endif %}
                </div>
            </div>

            {% endfor %}
            
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                {% for post in last_x_posts %}
                <div class="col-lg-6">  
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="{{post.imagen.url}}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">
                                <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'category' post.categoria.pk %}">
                                    {{ post.categoria }}
                                </a> &nbsp;
                                {{ post.fecha }} 
                            </div>
                            <h2 class="card-title h4">{{ post.titulo }}</h2>
                            <p class="card-text">{{ post.resumen }}</p>
                            <a class="btn btn-primary" href="{{ post.get_absolute_url }}">Leer más</a>&nbsp;
                            {% if user.is_authenticated %}
                                {% if user.is_superuser %}
                                    <small><a href="{% url 'editar' post.pk %}" style="color:red ;">Editar</a></small>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
         
{% endblock contenido %}