{%extends 'base.html' %}
{% load static %}
{% block contenido %}

<div class="conteiner-fluid">
    <div class="d-flex justify-content-around mt-5 mb-5">
                    <div class="card  sombra" style="width: 25rem; ">
                        <img class="card-img-top " alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><noticia class="titulo">adrgesrgesges</noticia></h5>
                            <p class="card-text">eagaegaegaegaegea</p>
                            <a href="#" class="btn btn-primary botonesForm ">Seguir Leyendo</a>
                        </div>
                    </div>
    </div>
</div>
  
{% endblock %}