{%extends 'base.html' %}
{% load static %}
{% block contenido %}

<div class="conteiner-fluid">
    <div class="d-flex justify-content-around mt-5 mb-5">
            {% if posts %}
                {% for post in posts %}
                    <div class="card  sombra" style="width: 25rem; ">
                        <img class="card-img-top " alt="...">{{post.imagen}}
                        <div class="card-body">
                            <h5 class="card-title"><noticia class="titulo">{{post.titulo}}</noticia></h5>
                            <p class="card-text">{{post.resumen}}</p>
                            <a href="#" class="btn btn-primary botonesForm ">Seguir Leyendo</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}  
    </div>
</div>
  
{% endblock %}