{% extends 'base.html' %}

{% load static %}

{% block contenido %}

<div class="conteiner-fluid">
    <div class="d-flex justify-content-around mt-5 mb-5">
        {% if noticias %}
            {% for noticia in noticias %}
                <div class="card  sombra" style="width: 25rem; ; ">
                    <img class="card-img-top " alt="..."> {{noticia.imagen}}
                    <div class="card-body">
                        <h5 class="card-title">{{ noticia.titulo }}</h5>
                        <p class="card-text">{{noticia.texto}}</p>
                        <p class="noticia.fecha">{{noticia.fecha}}</p>
                        <a href="{% url 'noticia:noticias' %}" class="btn btn-primary botonesForm ">Seguir Leyendo</a>
                    </div>
                </div>
    
            {% endfor %}
        {% endif %}
    
{% endblock %}