{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<!-- Page content-->
<div class="card  sombra" style="width: 80rem;  ">
    <img class="card-img-top " style="width: 40rem; margin-left: 18rem; " src="{% static 'img/logo.png' %}">
    <div class="card-body">
        <h5 class="card-title">UEPGP N° 149 “Fundación UOCRA”</h5>
        <p class="card-text">Misión y Visión:
        <p>Habitamos el futuro del trabajo y aquí los procesos formativos son permanentes a lo largo de la vida de las
            personas; proporcionan capacidades, conocimientos, valores y habilidades apuntando a la inclusión social, el
            desarrollo social y económico a todos. Educar hoy implica democratizar el acceso a la tecnología en la
            formación virtual y promover la adquisición y actualización de competencias digitales para los trabajadores
            en general.
            Estos cursos intentan promover en forma diversificada la capacitación profesional de oficios que tengan que
            ver con la construcción y con la nueva tecnología existente. Además son capacitaciones únicas debido a sus
            características como el cupo limitado, que acceden a ellas de manera gratuita y exclusiva, y que al
            finalizar contarán inmediatamente con la herramientas para ingresar al mercado laboral de manera formal.
            Atententos a este compromiso, tenemos la responsabilidad de lograr el perfil de competencia y capacidad que
            requieren los nuevos desafíos que surgen de los nuevos tiempos.
        </p>
        <h2>Integrantes</h2>
        <div class="card-body">
            <div class="row">
                <ul style="list-style-type: square; margin-left: 20px;" >
                    {% if integ %}
                    <div class="card-body">
                        <div class="row">
                            {% for item in integ %}
                            {% if forloop.first %}
                            <div class="col-sm-6">
                                {% endif %}
                                <ul class="list-unstyled mb-0">
                                    <img src="{{ item.imagen.url }}" width="80" height="70">
                                    {% if user.is_superuser %}
                                    <a style="color: orange ;" href="{% url 'editar_integrante' item.pk %}">(Editar)</a>
                                    {% endif %}
                                    <li style="color: blue;"><b>{{ item.cargo }}</b></li>
                                    <li><b>{{ item.apellido }},{{item.nombre}}</b></li>&nbsp;
                                    {% if forloop.counter|divisibleby:2 %}    
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                {% endif %}
                                {% if forloop.last %}
                                <ul class="list-unstyled mb-0">   
                                </ul>
                                {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <a href="{% url 'last_x_posts' %}" class="btn btn-primary botonesForm ">volver</a>
        </p>
    </div>  
</div>
{% endblock contenido %} 

{% block side %}
{% endblock side %}

