{% extends 'base.html' %}

{% load static %}

{% block nosotros %}

<div class="conteiner-fluid">
    <div class="d-flex justify-content-around mt-5 mb-5">
            <div class="card  sombra" style="width: 60rem; ; ">
                <img class="card-img-top " alt="..."> 
                <div class="card-body">
                    <h5 class="card-title">UEPGP N° 149 “Fundación UOCRA”</h5>
                    <p class="card-text">Integrantes:
                        <p>●	Benítez, María Évelin (Directora)</p>
                        <p>●	Benitez, Raquel Valeria</p>
                        <p>●	González, Eusebio Gustavo</p>
                        <p>●	Perrone, Orlando Pablo</p>
                        <p>●	Durand, Miguel Víctor</p>
                        <p>●	Romero, José Raúl</p>
                        <p>●	Chaquires, Héctor Augusto</p>
                        <p>●	Bolaño, Cristian Antonio</p>
                        <p>●	Acosta, Ignacio Valentin</p>
                        <p>●	Freschi, Roberto Felix</p>
                        <p>●	Obregon, Mayra</p>
                        <p>●	Zalazar, María Eva</p>
                    <p>Misión y Visión:</p>
                    <p>Habitamos el futuro del trabajo y aquí los procesos formativos son permanentes a lo largo de la vida de las personas; proporcionan capacidades, conocimientos, valores y habilidades apuntando a la inclusión social, el desarrollo social y económico a todos. Educar hoy implica democratizar el acceso a la tecnología en la formación virtual y promover la adquisición y actualización de competencias digitales para los trabajadores en general.
                        Estos cursos intentan promover en forma diversificada la capacitación profesional de oficios que tengan que ver con la construcción y con la nueva tecnología existente. Además son capacitaciones únicas debido a sus características como el cupo limitado, que acceden a ellas de manera gratuita y exclusiva, y que al finalizar contarán inmediatamente con la herramientas para ingresar al mercado laboral de manera formal. Atententos a este compromiso, tenemos la responsabilidad de lograr el perfil de competencia y capacidad que requieren los nuevos desafíos que surgen de los nuevos tiempos.
                    </p>   
                <a href="#" class="btn btn-primary botonesForm ">volver</a>
                </p>
                </div>
            </div>
            </div>
        </div>   
    </div>
</div>

      
{% endblock %}