
{% load static %}
{% block side %}

<!-- Side widgets-->
<div class="col-lg-4">
    <!-- Search widget-->
    <div class="card mb-4">
        <form action="{% url 'buscar' %}" method="GET">
            <input type="text" placeholder="Buscar" name="search"> <button>Buscar</button>
        </form>
    </div>
    <!-- Categories widget-->
    <div class="card mb-4">
        <div class="card-header">Categorias</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        {% if cat_menu %}
                            {% for item in cat_menu %}
                                <li><a href="{% url 'category' item.pk %}">{{ item }}</a></li>
                            {% endfor %}
                        {% endif %}    
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Side widget-->
    <div class="card mb-4">
        <div class="card-header">Cursos</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        {% if cur_menu %}
                            {% for item in cur_menu %}
                                <li><a href="{% url 'curso' item.pk %}">{{ item }}</a></li>
                            {% endfor %}
                        {% endif %}    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock side %}